<%= form_with(model: user, local: true) do |form| %>
        <!-- Email -->
        <div class="form-group">
            <input class="form-control"/>
        </div>

        <!-- Password -->
`        <div class="form-group">
            <input class="form-control"/>
        </div>
<% end %>