<header>
  <h1>Create My Cookbook</h1>
  <h2>Description of App</h2>
  
  <nav>
    <ul>
      <li><%= link_to 'Show All Recipes', recipes_path %></li>
      <li><%= link_to 'New Recipe', new_recipe_path %></li>
    </ul>
  </nav>
</header>