<%= render 'header'%>


<section class="recipe">
    <h2>Add New Recipe</h2>
    <%= render 'form', recipe: @recipe %>
</section>
<!--<h1>New Recipe</h1>



<%= link_to 'Back', recipes_path %>-->

<%= render 'footer'%>