<section class="login">
    <div class="jumbotron">
    <h1 class="display-4">Build My Cookbook</h1>
    <p class="lead">Create your own personal online cookbook full of recipes that you will love.</p>
    <p>Select savory creations from well-established sources, or add your own.</p>
    </div>
        <!-- Email -->
        <div class="form-group">
            <input class="form-control"/>
        </div>

        <!-- Password -->
`        <div class="form-group">
            <input class="form-control"/>
        </div>
</section>