// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-yellow:  #FFFFE0;
$gray-twenty: #555555;

html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    
 }

 .btn-primary {
    color: white;
    background: $gray-twenty;
    border: $gray-twenty;

    &:hover, &:visited &:link, &:active {
        background: $gray-twenty;
        border: $gray-twenty;
    }
 }


 header {
    text-align: center;
    background: no-repeat center/100% image-url('recipe_image.jpg');
    width: 100%;
    color: white;
    height: 96px;

    h1 {
        font-weight: 700
    }

    .nav {
        align-items: center;
        justify-content: center;
        .nav-link {
            color: white;
            &:hover {
                background: $gray-twenty;
            }
        }
    }
 }

section {
     padding: 25px;
     height: 100%;

     form {
        textarea {
            resize: none;
        }
    
        label {
            font-weight: 700;
        }
    
        .field_with_errors {
            display: block;
        }
    }
 }




.login {
    background: image-url('recipe_image.jpg') no-repeat center center fixed;
    background-size: cover;

    .jumbotron {
        .display-4 {
            font-weight: 700;
        }
        color: white;
        background: transparent;
    }
}

.recipe, .recipe-list, .user {
    background: $light-yellow;
}


.recipe {
    form {
        input[id*=minutes] {
            width: 65px;
            display: inline-block;
        }

        label[for='recipe_recipe_image'] {
            display: block;
        }
    }
}

 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    text-align: right;
 }
