// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login {
    background: no-repeat center/100% image-url('recipe_image.jpg');
    color: white;

    .jumbotron {
        padding-bottom: 0;

        h1 {
            font-weight: 600;
        }
    }

    form {
        @media screen and (min-width: 768px){
            padding: 0 30px;
        }
        
        .login-btn {
            float: right;
        }
    }

}